.header {
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  justify-items: flex-end;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.08), 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
  scrollbar-gutter: stable;
  .aim-icon {
    height: 40px;
    width: auto;
    color: #7d7c00;
  }
  &__menuBtn {
    margin-left: 2px;
    margin-right: 28px;
    display: flex;
    align-items: center;
  }
}

@include md {
  .header__menuBtn {
    margin-left: 0;
  }
}
