.sidebar {
  .MuiPaper-root {
    padding-top: 70px;
    z-index: 1;
    border-right: 1px solid #e4e7eb;
  }
  &__icon {
    width: 44px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }
  &__m {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px 6px;
      button {
        display: flex;
      }
    }
  }
}

@include lg {
  .sidebar {
    .MuiListItemButton-root {
      padding-top: 6px;
      padding-bottom: 6px;
    }
    .MuiPaper-root {
      padding-top: 0;
      max-width: 280px;
      width: 100%;
    }
  }
}
